.nav-toolbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar-right-links {
    display: flex;
    gap: 1rem
}

.profile_image, img {
  width: 30px;
  border-radius: 50%;

}
