<mat-toolbar class="nav-toolbar" style="width:100%">
    <a mat-button routerLink="/products" routerLinkActive="active">MyStore</a>
    <app-search-form></app-search-form>
    <div *ngIf="cartService.cartCount$ | async as cartV" class="navbar-right-links">
        <ng-container *ngIf="userRole$ | async">
          <button mat-button (click)="navigateToAdmin()">Admin</button>
          <span *ngIf="users$ | async as user"> {{user.nickname}}</span>
        </ng-container>
        <span *ngIf="users$ | async as user"> {{user.given_name}}</span>
        <ng-container
                *ngIf="isAuthenticated$ | async; then loggedIn; else loggedOut">
        </ng-container>
        <ng-template #loggedIn>
            <a (click)="logout()" mat-button>
                Log out
            </a>
        </ng-template>
        <ng-template #loggedOut>
            <a (click)="login()" mat-button>
                Log in
            </a>
        </ng-template>
        <button [disabled]="!(isButtonEnabled$ | async)" mat-button matBadge="{{cartV.item}}" matBadgeColor="accent"
                matBadgePosition="after" routerLink="/cart">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>



