<mat-toolbar class="nav-toolbar" style="width:100%">
    <a mat-button routerLink="/products" routerLinkActive="active">MyStore</a>
    <app-search-form></app-search-form>
    <div *ngIf="cartService.cartCount$ | async as cartV" class="navbar-right-links">
        <ng-container *ngIf="isAdmin$ | async; else user">
          <button mat-button (click)="navigateToAdmin()">Admin</button>
          <ng-container *ngIf="users$ | async as user">
            <ng-container *ngIf="user.given_name else userLoggedInWithSocialMedia">
              <span>{{user.given_name}}</span>
            </ng-container>
            <ng-template #userLoggedInWithSocialMedia>
              <div class="profile_image">
                <img [src]="user.picture"  alt=""/>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-template #user>
          <ng-container *ngIf="users$ | async as user">
            <ng-container *ngIf="user.given_name else userNotLoggedInWithSocialMedia">
              <span>{{user.given_name}}</span>
            </ng-container>
            <ng-template #userNotLoggedInWithSocialMedia>
              <div class="profile_image">
                <img [src]="user.picture"  alt=""/>
              </div>
            </ng-template>
          </ng-container>
        </ng-template>
        <ng-container
                *ngIf="isAuthenticated$ | async; then loggedIn; else loggedOut">
        </ng-container>
        <ng-template #loggedIn>
            <a (click)="logout()" mat-button>
                Log out
            </a>
        </ng-template>
        <ng-template #loggedOut>
            <a (click)="login()" mat-button>
                Log in
            </a>
        </ng-template>
        <button [disabled]="!(isButtonEnabled$ | async)" mat-button matBadge="{{cartV.item}}" matBadgeColor="accent"
                matBadgePosition="after" routerLink="/cart">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>


