<mat-toolbar class="nav-toolbar" style="width:100%">
    <a mat-button routerLink="/" routerLinkActive="active">MyStore</a>
    <app-search-form></app-search-form>
    <div *ngIf="cartService.cartCount$ | async as cartV" class="navbar-right-links">
        <!--        <a mat-button (click)="navigateToLoginForm()">Account</a>-->
        <ng-container
                *ngIf="auth.isAuthenticated$ | async; then loggedIn; else loggedOut">
        </ng-container>
        <ng-template #loggedIn>
            <a (click)="logout()" mat-button>
                Log out
            </a>
        </ng-template>
        <ng-template #loggedOut>
            <a (click)="loginWithRedirect()" mat-button>
                Log in
            </a>
        </ng-template>
        <button [disabled]="!(isButtonEnabled$ | async)" mat-button matBadge="{{cartV.item}}" matBadgeColor="accent"
                matBadgePosition="after" routerLink="/cart">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <span *ngIf="users$ | async as user"> {{user.name}}</span>
    </div>
</mat-toolbar>




