.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}


.large-card {
  width: 800px;

}

.sign-up-content {
  margin-top: 2rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}


