<div class="signUpContainer">
  <mat-card class="large-card">
    <mat-card-header>
      <mat-card-title>New Customers</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="sign-up-content">
      <form [formGroup]="signUpFormGroup" (ngSubmit)="signUp()">
        <div class="sign-up-form">
          <mat-form-field appearance="outline">
            <mat-label>Firstname</mat-label>
            <input matInput type="text" placeholder="firstname" formControlName="firstName" required/>
            <ng-container *ngIf="signUpFormGroup.controls['firstName'].invalid && signUpFormGroup.controls['firstName'].touched">
              <mat-error>This field is required</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput type="text" placeholder="lastname" formControlName="lastName" required/>
            <ng-container *ngIf="signUpFormGroup.controls['lastName'].invalid && signUpFormGroup.controls['lastName'].touched">
              <mat-error>This field is required</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email address</mat-label>
            <input matInput type="email" placeholder="email" formControlName="email" required/>
            <ng-container *ngIf="signUpFormGroup.controls['email'].invalid && signUpFormGroup.controls['email'].touched">
              <mat-error>This field is required</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="password" formControlName="password" required/>
            <ng-container *ngIf="signUpFormGroup.controls['password'].invalid && signUpFormGroup.controls['password'].touched">
              <div [ngSwitch]="getPasswordError()">
                <mat-error *ngSwitchCase="'required'">This field is required</mat-error>
                <mat-error *ngSwitchCase="'passwordLengthError'">Password must be at least 5 characters long.</mat-error>
              </div>
            </ng-container>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" placeholder="confirm password" formControlName="confirmPassword" required />
            <ng-container *ngIf="signUpFormGroup.errors && signUpFormGroup.errors['passwordNotMatch'] && signUpFormGroup.controls['confirmPassword'].touched">
              <mat-error *ngIf="signUpFormGroup.hasError('passwordNotMatch')">Your password do not match</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone Number (Optional)</mat-label>
            <input matInput type="tel" placeholder="phone number" formControlName="phoneNumber" />
          </mat-form-field>
        </div>
        <button mat-stroked-button>SIGN UP</button>
        <a mat-button (click)="navigateToLoginForm()">LOGIN</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>



