<ng-container *ngIf="product">
    <div class="inner-container">
        <mat-card class="product-card" role="group">
            <img mat-card-image src="{{product.image}}" alt=""  />
            <mat-card-content class="product-title">{{product.title}}</mat-card-content>
            <mat-card-content class="product-title">${{product.price}}</mat-card-content>
            <mat-card-actions>
                <div class="product-button">
                    <button mat-stroked-button (click)="addToCart(product)">Add to cart</button>
                    <button mat-stroked-button (click)="showProduct(product.id)">View</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-container>




