<ng-container *ngIf="cartList && cartList.length; else elseBlock">
  <div class="card-container">
    <div>
      <mat-card class="card-radius">
        <mat-card-header>
          <span>{{title}}</span>
        </mat-card-header>
      </mat-card>
      <mat-divider></mat-divider>
      <app-cart-item
        *ngFor="let cartProducts of cartList"
        [product]="cartProducts"
        (deleteItem)="removeItemFromCart($event)"
        (incrementItem)="incrementCartItem($event)"
        (decrementItem)="decrementCartItem($event)"
      >
      </app-cart-item>
    </div>
    <div>
      <app-cart-subtotal>
        <mat-card-content>
          <span>SubTotal: items ({{ totalItemsInCart }}): {{totalPriceInCart | currency: "USD"}}</span>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="showCheckOutPage()" mat-stroked-button>{{ buttonCheckout }}</button>
        </mat-card-actions>
      </app-cart-subtotal>
    </div>
  </div>
</ng-container>
<ng-template #elseBlock>
  <div class="card-container">
    <h1 class="center">There are no items in your cart</h1>
  </div>
</ng-template>



