<div class="checkout-container">
  <div class="checkout-inner-container">
    <mat-card>
      <mat-card-content>
        <mat-stepper  linear #stepper>
          <!-- step 1 -->
          <mat-step [stepControl]="firstFormGroup" label="Shipping">
            <form [formGroup]="firstFormGroup" class="checkout-form">
              <mat-form-field class="checkout-input" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. pat@emailaddress.com" class="test" formControlName="email" required/>
                <mat-hint align="start">We will send the order confirmation to the email address</mat-hint>
                <ng-container *ngIf="firstFormGroup.controls['email'].invalid && firstFormGroup.controls['email'].touched">
                  <div [ngSwitch]="getEmailError()">
                    <mat-error *ngSwitchCase="'required'">This field is required</mat-error>
                    <mat-error *ngSwitchCase="'invalid'">email address is invalid</mat-error>
                  </div>
                </ng-container>
              </mat-form-field>
              <mat-divider></mat-divider>
              <span>Address</span>
              <div class="row row-1">
                <app-checkout-form [parent]="firstFormGroup"></app-checkout-form>
              </div>
              <div class="checkout-form-button">
                <button mat-stroked-button matStepperNext (click)="nextButton(stepper)">Continue to payment</button>
              </div>
            </form>
          </mat-step>
          <!-- step 2 -->
          <mat-step [stepControl]="secondFormGroup"  label="Payment">
            <div class="payment">
              <span>All transactions are secure and encrypted</span>
              <form [formGroup]="secondFormGroup" class="checkout-form">
                <mat-card>
                  <mat-card-header class="checkout-form-title">
                    <mat-card-title>Credit card</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="payment-items">
                    <mat-divider></mat-divider>
                    <mat-form-field appearance="outline">
                      <mat-label>Card Number</mat-label>
                      <input matInput type="num" placeholder="Card Number" formControlName="card" />
                      <ng-container *ngIf="secondFormGroup.controls['card'].invalid && secondFormGroup.controls['card'].touched">
                        <mat-error>This field is required</mat-error>
                      </ng-container>
                    </mat-form-field>
                    <div class="row">
                      <mat-form-field appearance="outline">
                        <mat-label>Expiry (MM/YY)</mat-label>
                        <input matInput type="num" placeholder="MM/YY" formControlName="expiry" maxlength="4"/>
                        <ng-container *ngIf="secondFormGroup.controls['expiry'].invalid && secondFormGroup.controls['expiry'].touched">
                          <mat-error>This field is required</mat-error>
                        </ng-container>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Security code</mat-label>
                        <input matInput type="num" placeholder="security code" formControlName="securityCode" [maxlength]="3"/>
                        <ng-container *ngIf="secondFormGroup.controls['securityCode'].invalid && secondFormGroup.controls['securityCode'].touched">
                          <mat-error>This field is required</mat-error>
                        </ng-container>
                      </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                  </mat-card-content>
                  <mat-card-header>
                    <mat-card-title>Billing address</mat-card-title>
                    <mat-card-subtitle>Select the address that is associated with your credit card.</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content class="billing-form">
                    <mat-radio-group class="checkout-radio" formControlName="billingAddress" (change)="onAddressSelectionChange()">
                      <mat-card>
                        <mat-radio-button value="1">Same as shipping address</mat-radio-button>
                        <ng-container *ngIf="this.secondFormGroup.controls['billingAddress'].value === '1'">
                          <mat-card-content class="radio-button-address">
                            <span>
                              {{showShippingFormCustomerDetails().get('address')?.value}}
                              {{showShippingFormCustomerDetails().get('city')?.value}}
                              {{showShippingFormCustomerDetails().get('province')?.value}}
                              {{showShippingFormCustomerDetails().get('postalCode')?.value}}
                            </span>
                            <span>{{showShippingFormCustomerDetails().get('contactNumber')?.value}}</span>
                            <mat-divider></mat-divider>
                          </mat-card-content>
                        </ng-container>
                        <mat-radio-button value="2">Use a different billing address</mat-radio-button>
                      </mat-card>
                      <mat-divider></mat-divider>
                    </mat-radio-group>
                    <ng-container *ngIf="this.secondFormGroup.controls['billingAddress'].value === '2'">
                      <div class="billing-form-items">
                        <div class="row row-1">
                          <app-checkout-form [parent]="secondFormGroup"></app-checkout-form>
                        </div>
                      </div>
                    </ng-container>
<!--                    <pre>{{secondFormGroup.value | json}}</pre>-->
                    <div class="checkout-form-button">
                      <div class="row">
                        <button mat-stroked-button matStepperPrevious>Back to shipping</button>
                        <button mat-stroked-button matStepperNext (click)="nextButton(stepper)">Continue to review</button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
            </div>
          </mat-step>
          <mat-step label="Review">
            <!-- step 3 -->
            <mat-card-header>
              <mat-card-title>Ready to place your order?</mat-card-title>
              <mat-card-title>Let's make sure everything's right.</mat-card-title>
            </mat-card-header>
            <app-review-list>
              <button mat-stroked-button matStepperPrevious>Back to Payment</button>
            </app-review-list>

          </mat-step>
        </mat-stepper>
      </mat-card-content>
    </mat-card>
    <app-cart-subtotal>
      <mat-card-content class="review-order-summary-details">
        <div class="row">
          <span>Items in Cart ( {{showTotalItemQuantity()}} ) </span>
        </div>
        <div class="row">
          <span>SubTotal: </span>
          <span>{{ showTotalPrice() | currency: "USD" }}</span>
        </div>
        <div class="row">
<!--          <span>Estimated Tax {{ 0.13 | percent }}: </span>-->
          <span>Estimated Tax:  </span>
          <span>{{showTotalPrice() * 0.13 | currency: "USD" }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
          <span>Estimated Total:  </span>
          <span>{{ showTotalPrice() * 1.13 | currency: "USD" }} </span>
        </div>
      </mat-card-content>
    </app-cart-subtotal>
  </div>
</div>


