<mat-card>
  <mat-card-content>
    <app-review-item
      *ngFor="let product of productItems"
      [product]="product"
    ></app-review-item>
    <mat-card-content>
      <div class="review-customer-information">
        <div  class="item1">
          <p><b>Shipping Details</b></p>
        </div>
        <div class="item2">
          <p>Delivers to</p>
          <ng-container *ngIf="shippingFormCustomer">
            <p>
              {{ shippingFormCustomer["firstName"] }}
              {{ shippingFormCustomer["lastName"] }}
            </p>
            <p>
              {{ shippingFormCustomer["unit"] }}
              {{ shippingFormCustomer["address"] }}
            </p>
            <p>
              {{ shippingFormCustomer["city"] }}
              {{ shippingFormCustomer["province"] }}
              {{ shippingFormCustomer["postalCode"] }}
            </p>
          </ng-container>
        </div>
        <div class="item3">
          <p>Contact information</p>
          <div *ngIf="billingFormCustomer">
            {{ billingFormCustomer['phoneNumber'] }}
          </div>
        </div>

        <div class="item4">
          <p><b>Payment Details</b></p>
        </div>
        <div class="item5">
          <p>Pay in full with:</p>
          <p>VISA**** 9304</p>
        </div>
        <div class="item6">
          <p>Billing Address</p>
          <ng-container *ngIf="billingFormCustomer">
            <p>
              {{ billingFormCustomer['firstName'] }}
              {{ billingFormCustomer['lastName'] }}
            </p>
            <p>
              {{ billingFormCustomer['unit'] }}
              {{ billingFormCustomer['address'] }}
            </p>
          </ng-container>
        </div>
        <div class="item7">
          <p><b>Summary</b></p>
        </div>
        <div class="item8">
          <p>Subtotal</p>
          <p>Shipping</p>
          <p>Estimated Tax</p>
        </div>
        <div class="item9">
          <p>{{ totalPrice | currency: "USD" }}</p>
          <p>{{ shipping }}</p>
          <p>{{ totalPrice * tax | currency: "USD" }}</p>
        </div>
        <div class="item10">
          <mat-divider></mat-divider>
        </div>
        <div class="item11">
          <p><b>Total</b></p>
          <p><b>{{ (totalPrice * tax) + (totalPrice) + shipping | currency: "USD" }}</b></p>
        </div>
      </div>
      <ng-content></ng-content>
      <button mat-stroked-button class="center" type="submit" (click)="onSubmitForm()">Place Order</button>
    </mat-card-content>
  </mat-card-content>
</mat-card>


