.wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.mat-elevation-z8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

table th, table td {
  text-align: center;
}

.product_image {
  max-width: 100%;
  height: 100px;
}
