.product-detail-container {
    display: grid;
    /*background-color: bisque;*/
    height: 100vh;
}

.product-inner-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    max-width: 1200px;
    margin: 50px auto;
    gap: 4rem;
    grid-template-areas: "image content"
                        "description description";
    /*background-color: aqua;*/
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item1 {
    grid-area: image;
}

.image {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 200px
}

.item2 {
    grid-area: content;
}

.product-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



button {
    background-color: #ffffff;
    border: 1px solid lightgray;
}

button:active {
    background-color: whitesmoke;
}

.item3 {
    grid-area: description;
}

/*** duplicated input-form css ***/

.product-quantity {
  display: flex;
}

input {
  height: 0.8rem;
  width: 70px;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid lightgray;
  outline: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
