<div class="product-detail-container">
    <div *ngIf="product$ | async as product" class="product-inner-container">
        <div class="item1">
            <img alt="" mat-card-image src="{{product.image}}"/>
        </div>
        <div class="item2 product-item">
            <div class="product-title">
                <span>{{product.name}}</span>
                <span>{{product.price | currency }}</span>
            </div>
            <!--- Duplicating html!--->
            <div class="product-quantity">
                <div class="flex-items">
                    <button (click)="decrement()">
                        <mat-icon class="button-1">remove</mat-icon>
                    </button>
                </div>
                <div class="flex-items">
                    <input #numberInput [(ngModel)]="value" min="1" type="number"/>
                </div>
                <div class="flex-items">
                    <button (click)="increment()">
                        <mat-icon class="button-2">add</mat-icon>
                    </button>
                </div>
            </div>
            <!--- End Duplicating html!--->
            <div>
                <button (click)="addToCart(product)" mat-stroked-button>ADD TO CART</button>
            </div>
        </div>
        <div class="item3">
            <p>
                {{product.description}}
            </p>
        </div>
    </div>
</div>
