<!--<ng-container-->
<!--  *ngIf="auth.isAuthenticated$ | async; then loggedIn; else loggedOut">-->
<!--</ng-container>-->

<!--<ng-template #loggedIn>-->
<!--  <button mat-stroked-button (click)="logout()">-->
<!--    Log out-->
<!--  </button>-->
<!--</ng-template>-->

<!--<ng-template #loggedOut>-->
<!--  <button mat-stroked-button (click)="loginWithRedirect()">-->
<!--    Log in-->
<!--  </button>-->
<!--</ng-template>-->

<!--<div class="loginContainer">-->
<!--  <mat-card class="large-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Returning customers</mat-card-title>-->
<!--      <mat-card-subtitle>If you are a registered user, please enter your email and password.</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-card-content class="loginContent">-->
<!--      <form [formGroup]="loginFormGroup" (ngSubmit)="login()">-->
<!--        <div class="loginForm">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Email address</mat-label>-->
<!--            <input matInput type="email" placeholder="email" formControlName="email" required/>-->
<!--            <ng-container *ngIf="loginFormGroup.controls['email'].invalid && loginFormGroup.controls['email'].touched">-->
<!--              <mat-error>This field is required</mat-error>-->
<!--            </ng-container>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input matInput type="password" placeholder="password" formControlName="password" required/>-->
<!--            <ng-container *ngIf="loginFormGroup.controls['password'].invalid && loginFormGroup.controls['password'].touched">-->
<!--              <mat-error>This field is required</mat-error>-->
<!--            </ng-container>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <button mat-stroked-button>LOGIN</button>-->
<!--        <a mat-button (click)="navigateToSignUpForm()">create an account</a>-->
<!--      </form>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->






