.product-quantity {
    display: flex;
}

input {
    height: 0.8rem;
    width: 70px;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid lightgray;
    outline: 0;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
