.card-radius {
    border-radius: 0;
    margin-bottom: 2rem;
}

/*.card-items {*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*    justify-content: space-between;*/
/*    padding: 1rem 0 0 0;*/
/*}*/

.card-items {
  display: grid;
  grid-template-columns: 0.5fr 3fr 2fr 1fr 1fr;
  gap: 2rem;
}

.grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
    width: 100%;
}

.card-description {
  display: flex;
  flex-direction: column;
}

.card-actions-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/** duplicated css */

.product-quantity {
  display: flex;
}

input {
  height: 0.8rem;
  width: 70px;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid lightgray;
  outline: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
