<mat-card class="card-radius">
  <mat-card-content *ngIf="item">
    <div class="card-items">
      <div class="grid-items">
        <img [src]=item.image mat-card-sm-image/>
      </div>
      <div class="grid-items">
        <div class="card-description">
          <p>
            {{item.name}}
          </p>
          <div class="card-actions-buttons">
            <a mat-button (click)="delete()">{{deleteButton}}</a>
          </div>
        </div>
      </div>
      <div class="grid-items">
        <div class="product-quantity">
          <div class="flex-items">
            <button (click)="decrementItemQuantityInCart()">
              <mat-icon class="button-1">remove</mat-icon>
            </button>
          </div>
          <div class="flex-items">
            <input #numberInput [ngModel]="item.quantity" min="0" type="number" [readOnly]="item.quantity" #hello/>
          </div>
          <div class="flex-items">
            <button (click)="incrementItemQuantityInCart()">
              <mat-icon class="button-2">add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="grid-items">
        <p>{{item.price | currency: 'USD'}} each. </p>
      </div>
      <div class="grid-items">
        <p>{{ item.price * item.quantity | currency: 'USD' }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>


